
#chatbot-toggle-btn {
    position: fixed;
    right: 10px;
    bottom: 20px;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #45b29d;
    color: #fff;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease;

}

#chatbot-toggle-btn:hover {
    background-color: #3a7228;
    transform: scale(1.02); /* Phóng to nhẹ */
}

/* Thanh giao diện chatbot */
#chatbot-panel {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

/* Header của chatbot */
#chatbot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #45b29d;
    color: #fff;
}

/* Nút đóng chatbot */
#close-chatbot {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

/* Phần thân của chatbot */
#chatbot-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* Phần footer của chatbot */
#chatbot-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#chatbot-response {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#user-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Vô hiệu hóa khả năng kéo thả */
    overflow: hidden; /* Ẩn thanh cuộn */
}

button {
    padding: 8px 15px;
    background-color: #de425b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}


.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 75%;
    word-wrap: break-word;
  }
  
/* Tin nhắn của người dùng */
.message.user {
    align-self: flex-end;
    background-color: #45b29d ;
    color: #fff;
    border-radius: 10px;
    line-height: 1.5;
    white-space: pre-wrap;
}

/* Tin nhắn của chatbot */
.message.bot {
    align-self: flex-start;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 10px;
    white-space: pre-wrap;
    line-height: 1.5;
}

.message.bot b {
    display: block; /* Mỗi phần <b> sẽ xuống dòng */
    margin-top: 10px; /* Thêm khoảng cách giữa các đoạn văn */
}